@import "tailwindcss";
@import url("/assets/css/bootstrap.min.css");
@import url("/assets/css/style.css");
@import url("/assets/css/responsive.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-barlow-condensed: var(--font-barlow-condensed);
  --font-satisfy: var(--font-satisfy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
